<p id="notice"><%= notice %></p>

<p>
  <strong>タイトル：</strong>
  <%= @article.title %>
</p>

<p>
  <strong>タグ：</strong>
  <% @article.tags.each do |tag| %>
    <span class="badge rounded-pill bg-primary"><%= tag.name%></span>
  <% end %>
</p>

<p>
  <strong>本文：</strong>
  <%= @article.content %>
</p>

<p>
  <strong>コメント</strong>
  <% @comments.each do |comment| %>
    <%= comment.content %>
    <% if current_user&.id == comment.user_id %>
      <%= link_to "コメントを削除する", comment_path(comment.id), method: :delete, data: { confirm: "削除しますか？" } %>
    <% end %>
  <% end %>
</p>

  <%= form_with(model: @comment, local: true) do |f| %>
    <%= f.text_area :content %>
    <%= f.hidden_field :article_id, value: @article.id %>
    <%= f.submit 'コメントする' %>
  <% end %>


<% if current_user&.id == @article.user_id %>

  <%= link_to '編集', edit_article_path(@article) %>
  <%= link_to '削除', @article, method: :delete, data: { confirm: "削除しますか？" } %>
  <%= link_to 'マイページに戻る', mypage_path %>
  <%= link_to '記事一覧に戻る', articles_path %>

<% else %>
  <%= link_to '記事一覧に戻る', articles_path %>
<% end %>

<% if current_user&.id != nil %>
  <% if @article.favorited?(current_user) %>
      <%= link_to article_favorite_path(@article.id), method: :delete do %>
          <span style="color:red;">❤︎</span>
      <% end %>
  <% else %>
      <%= link_to article_favorites_path(@article.id), method: :post do %>
          <span>❤︎</span>
      <% end %>
  <% end %>
<% end %>
