<p id="notice"><%= notice %></p>

<h1>ユーザー一覧</h1>

<%= render partial: "search" %>

<table>
	<thead>
		<tr>
			<th>ユーザー名</th>
			<th colspan="3"></th>
		</tr>
	</thead>

	<tbody>
      	<% @users.each do |user| %>
          <tr>
            <td>
              <%= user.name %>
            </td>
          </tr>
        <% end %>
        <%= paginate @users %>

		<td><%= link_to "マイページに戻る", mypage_path %></td>

	</tbody>
</table>
